html{
    margin: 0;
    padding: 10px;
}
body { 
	
	line-height: 1.88889;
	color: #555753; 
	background: rgb(255, 255, 255) url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;
}

h2{
    text-align: center;
    color:rgb(126, 42, 42);
}
h3{
    color:rgb(126, 42, 42);
    padding-top: 1%;
    padding-bottom:1%;
}

section{
    text-align: justify;
    padding-top: 2%;
}
img{
    width:100%;
    display: block;
    margin:0 auto;
}

#logo{
    display: inline-block;
 width:15%   ;
 margin-top: 0 ;
 padding-top: 0
}

#Esrilogo{
        display: inline-block;
    width:10%
}
#proyectos{
    display:block;
    margin-left: 35%;
    padding-top: 0.5%
}

#tecno{
        display:block;
    margin:0 auto;

}

/* Sección de introducción, tag section en html */
#intro{
        text-align: justify;
    width: 80%;
    margin: 0 auto;
    padding-bottom:5%;
    
}

#Bienvenida{
    padding-top:15%;
    color: rgb(126, 42, 42);
    text-align: center;
}

nav{
    text-align:center;
    font-size: 14px;
    padding-right: 30px;
    word-spacing: 0.50em;
    margin:0;
} 




.enlace{
    display:inline-block;
    border-top: 3px solid rgb(155, 55, 55);
    color:rgb(255, 255, 255);
}

.enlace:hover{
    background-color:rgba(149, 112, 255, 0.6);
    border-radius: 5px;

}

/*Enlaces de la barra nav*/

nav a:link { 

	text-decoration: none; 
	color: rgb(180, 168, 224);
	}

nav a:visited { 
	text-decoration: none; 
	color: rgb(103, 103, 136);
	}

nav a:hover, a:focus, a:active { 
        color: #922d2d;
        
     }

/* los demás enlaces */      

a:link { 

        text-decoration: none; 
        color: rgb(50, 47, 63);
 }

a:visited { 

	text-decoration: none; 
	color:  rgb(50, 47, 63);
	}

a:hover, a:focus, a:active { 
    text-decoration: underline; 
    color: #922d2d;
 }


@media all and (min-width: 500px){     
    #intro{
        font-size:130% ;
        text-align: justify;
        width:80%;
        margin: 0 auto;
        
    }

    #proyectos{
        display: block;
        margin:0 auto
    }


}


@media all and (min-width: 1200px){  

    #intro{

        text-align: justify;
        width: 50%;
        margin: 0 auto;
        
    }
    #proyectos{
        display: block;
        margin:0 auto
    }




} 