html{
    margin: 0;
    padding: 10px;
}

body{
    margin:0;
    padding:0;
    font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
    background: rgb(255, 255, 255) url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; 

}

header{
    color: rgb(126, 42, 42);
    text-align: center;
    background:rgba(235, 235, 225, 0.952);
    margin:0px ;
    padding: 3px;
}


.enlace{
    display:inline-block;
    border-top: 3px solid rgb(155, 55, 55);
    color:rgb(87, 80, 122);
}

.enlace:hover{
    background-color:rgba(149, 112, 255, 0.6);
    border-radius: 5px;

}

nav{
    text-align:center;
    font-size: 14px;
    padding-right: 30px;
    word-spacing: 0.50em;
    margin:0;

} 

nav a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(180, 168, 224);
	}

nav a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: rgb(103, 103, 136);
	}

nav a:hover, a:focus, a:active { 
        text-decoration: underline; 
        color: #922d2d;
     }

h2{
        color: rgb(126, 42, 42);
        font-size: 16;
        text-align: center;
        
        }

.container{
    display: block;
}

li{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 2;
}

details{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 2;
}


footer{
            color: black;
            margin:80px;
            padding-top:50 px;
            background-color: rgb(255, 255, 255);
            text-align: center;
        }



@media all and (min-width: 500px){

    h2{
        color: rgb(126, 42, 42);
        font-size: 15;
        
        }

    nav{
            text-align:center;
            font-size: 14px;
            padding-right: 30px;
            word-spacing: 0.50em;
            margin:0;
        
        } 

    .container{
        display: block;
    }

}



@media all and (min-width: 1200px){

nav{
        text-align:end;
        font-size: 14px;
        padding-right: 30px;
        word-spacing: 0.50em;
        margin:0;
    
    } 
h1{
        color: rgb(126, 42, 42);
           font-size: 20;
        
        }

li{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

details{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:13px;
}



h2{
color: rgb(126, 42, 42);
   font-size: 20;

}

/* se usa CSS GRID para ordenar */
.container{
    display: grid;
    grid-template-columns: 50% 50%;

}

div{
    padding: 5%;
}





}